.line {
  border-bottom: 1px solid gray;
  width: 100px;
  height: 1px;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.3;
}

.line-or {
  margin-bottom: 15px;
}
